body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    hsl(292, 42%, 14%) 0%,
    hsl(292, 42%, 14%) 33%,
    hsl(275, 100%, 97%) 33%,
    hsl(275, 100%, 97%) 100%
  );
}

footer {
  margin-bottom: 100px;
  margin-top: 10px;
  color: black;
}

h1 {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 60px;
}

h4 {
  font-size: 20px;
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.plus-icon,
.minus-icon {
  font-size: 10px;
  border-radius: 60%;
  padding: 8px;
}

.minus-icon {
  background-color: hsl(292, 42%, 14%);
  color: white;
}

.plus-icon {
  background-color: hsl(280, 80%, 55%);
  color: white;
}

.icons-icons {
  display: flex;
  justify-content: space-between;
}

.faq-icon {
  color: hsl(280, 80%, 55%);
  font-size: 44px;
}

.faq-icon-icon {
  cursor: pointer;
}
.faq-icon-icon span {
  margin: 0 5px;
}

#svg-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: hsl(292, 16%, 49%);
}

.faqs-body {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  margin-top: 200px;
  border-radius: 10px;
  max-width: 700px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
