body {
  background-color: hsl(292, 42%, 14%);
}

footer {
margin-bottom: 100px;
margin-top: 10px;
color: white
}

.faqs-body {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  margin-top: 100px;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
